* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

/* header styling */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #677A8E;
    color: #ffffff;
}

header h1 {
    padding: 5px;
    background-color: #23B5D3;
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    padding: 5px;
    background-color: #23B5D3;
}

header a:focus {
    padding: 5px;
    background-color: #23B5D3;
}

header a:active {
    padding: 5px;
    background-color: #23B5D3;
    border: solid #ffffff 1.5px;
}

.bigpic {
      position: relative;
      top: 0;
      left: 0;
    }

.bigpic h2 {
    position: absolute;
    top: 260px;
    right: 35px;
    color:white;
    font-size: 40px;
}

.over-bigpic {
  position: absolute;
  top: 50px;
  left: 90px;
}

/* general styling */

main {
    width: 100vw;
    overflow: hidden;
}

.subjectmain {
    margin: 40px 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.subjectmain h3 {
    color: #071013;
    font-size: 40px;
    padding-right: 30px;
    flex: 1;
    border-right: #071013 solid 2px;
}

.subjectmain p {
    color: #677A8E;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    flex: 3;
}

.subjectmain div ul {
    list-style-type: none;
    padding-left: 20px;
    margin-right: 10px;
}

.subjectmain ul li {
    display: inline-block;
    padding: 10px;
}

.subjectmain a {
    padding: 5px;
    color: #677A8E;;
    text-decoration: none;
}

.subjectmain a:hover {
    color: #ffffff;
    padding: 5px;
    background-color: #23B5D3;
}

.subjectmain a:focus {
    color: #ffffff;
    padding: 5px;
    background-color: #23B5D3;
}

.subjectmain a:active {
    color: #ffffff;
    padding: 5px;
    background-color: #23B5D3;
    border: solid #677A8E 1.5px;
}

#contact div {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    margin-right: 10px;
    flex: 3;
}

/* sample styling */

.samples {
    margin: 40px 10px;
    padding: 5px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 3;
}

.sampleitem {
    border: 2px solid #23B5D3;
    margin: 10px;
    width: 45%;
}

.sampleitem img {
      width: 100%;
}

.sampleitem h4 {
    color: white;
    background-color: #23B5D3;
    font-size: 30px;
}

.samplefeature {
    border: 2px solid #23B5D3;
    margin: 10px;
    width: 95%;
}

.samplefeature img {
    width: 100%;
}

.samplefeature h4 {
    color: white;
    background-color: #23B5D3;
    font-size: 30px;
}

/* footer styling */

footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #677A8E;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

/* styling samples for phones */

@media screen and (max-width: 768px) {
    .sampleitem {
        border: 2px solid #23B5D3;
        margin: 10px;
        width: 95%;
    }
}